name = "poddock"
compatibility_date = "2024-12-01"
pages_build_output_dir = "./dist"

[[d1_databases]]
binding = "DB"
database_name = "poddock-db-staging"
database_id = "b63d5c3b-b84d-4ff0-bfbd-68fced192af8"

[[r2_buckets]]
binding = "BUCKET"
bucket_name = "poddock-bucket-staging"
